.MetricsTable th:nth-child(1),
.MetricsTable td:nth-child(1) {
    width: 30%;
}

.MetricsTable th:nth-child(2),
.MetricsTable td:nth-child(2) {
    width: 15%;
}

.MetricsTable th:nth-child(3),
.MetricsTable td:nth-child(3) {
    width: 20%;
}

.MetricsTable th:nth-child(4),
.MetricsTable td:nth-child(4) {
    width: 35%;
}

.SharedTable th:nth-child(1),
.SharedTable td:nth-child(1) {
    width: 35%;
}

.SharedTable th:nth-child(2),
.SharedTable td:nth-child(2) {
    width: 20%;
}

.SharedTable th:nth-child(3),
.SharedTable td:nth-child(3) {
    width: 45%;
}
