.MainWrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.LeftImageWrapper {
    height: 100vh;
    width: 60%;
}

.Logo {
    width: 150px;
}

.LeftImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.ContentWrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 20px;
    background-color: var(--axelix-primary-white);
}

.ContentHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}