.MainWrapper {
  position: relative;
  padding-block: 88px;
  border-top: 1px solid var(--axelix-line);
  background: var(--axelix-bg);

  @media (width <= 980px) {
    padding-block: 96px 104px;
  }
}
