.OverflowTagsWrapper {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-golos);
    font-size: 12px;
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 999px;
    color: var(--c-green-500);
    border: 1px solid var(--c-green-500);

    &::before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--c-green-500);
    }
}

.MainWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}