.TitleWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-weight: 400;
}

.Bar {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: var(--axelix-border-radius-small);
    cursor: pointer;
    background-color: #52c41a;
    transition: background-color 0.3s;

    &:hover {
        background-color: #95de64;
    }
}

.SelectedBar {
    border: 1px solid var(--axelix-primary-black);
}