.Title {
    font-weight: 600;
    color: var(--axile-bold-grey);
}

.lll {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 8px;
}

.NativeTag{
    border: 1px solid var(--axile-primary-green);
    background-color: var(--axile-primary-light-green);
    color: var(--axile-primary-green);
}