.MainWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 10px 20px;
    background-color: var(--axelix-primary-black);
    border-radius: var(--axelix-border-radius-large);
    color: var(--axelix-primary-white);
    margin-bottom: 20px;
}

.InfoWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.SelectedUsers {
    font-weight: 500;
}

.OidcLocal {
    color: var(--axelix-bold-grey);
}

.ActionsButtons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.SuspendButton {
    background-color: var(--axelix-primary-white) !important;
    border: var(--axelix-primary-black) !important;
}

.SuspendButton:hover {
    background-color: var(--axelix-light-grey) !important;
    color: var(--axelix-light-grey) !important;
}


.ClearButton {
    color: var(--axelix-primary-white);
}

.ClearButton:hover {
    color: var(--axelix-primary-white) !important;
    text-decoration: underline;
}