.MainWrapper {
    overflow-x: auto;
}

.Table {
    /* TODO: Fix in future */
    --tx-columns: minmax(0, 2.2fr) 120px 150px minmax(220px, 2.4fr) 40px;

    min-width: 750px;
    border: 1px solid var(--axelix-light-grey);
    border-radius: var(--axelix-border-radius-large);
    overflow: hidden;
    background-color: var(--axelix-primary-white);
}

.HeaderRow {
    display: grid;
    grid-template-columns: var(--tx-columns);
    gap: 16px;
    align-items: center;
    padding: 12px 20px;
    background-color: var(--axelix-primary-light-green);
    border-bottom: 1px solid var(--axelix-light-grey);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--axelix-bold-grey);
}
