.MainWrapper {
    /* TODO: Improve in future */
    --status-sunset: #b42318;
    --status-sunset-bg: #fef3f2;
    --status-sunset-border: #fecdca;
    --status-maintenance: #b54708;
    --status-maintenance-bg: #fffaeb;
    --status-maintenance-border: #fec84b;
    --status-dormant: #faad14;
    --status-dormant-bg: #fffbe6;
    --status-dormant-border: #ffe58f;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Feed {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Caption {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--axelix-bold-grey);
}

.Toolbar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--axelix-medium-grey);
}
