.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
    .Col {
        width: 270px;
        flex-shrink: 0;
        padding: 16px;
    }
}
