.ConfigTable th:nth-child(1),
.ConfigTable td:nth-child(1) {
    width: 40%;
}

.ConfigTable th:nth-child(2),
.ConfigTable td:nth-child(2) {
    width: 25%;
}

.ConfigTable th:nth-child(3),
.ConfigTable td:nth-child(3) {
    width: 35%;
}
