.MainWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}

.AvatarsWrapper {
    display: inline-flex;
}

.AuthorName {
    font-size: 14px;
    font-weight: 500;
}