.MainWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
}

.IconPlaceholder {
    visibility: hidden;
    pointer-events: none;
}

.PrimaryIcon {
    flex-shrink: 0;
}