.MainWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.MainTitle {
    width: min(500px, 100%);
    font-weight: 600;
    text-align: center;
    margin: 0 auto 40px;
    word-break: normal;
    transform: translateX(50%);
}

.Download {
    width: fit-content;
    justify-self: end;
}

.List {
    border: 1px solid var(--axelix-medium-grey);
    border-radius: var(--axelix-border-radius-large);
    margin-block: 30px;
}

.ListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 12px 24px;
    border-bottom: 1px solid var(--axelix-medium-grey);

    &:last-child {
        border-bottom: none;
    }
}

.LoaderWrapper {
    margin-block: 40px;
}

@media all and (width <= 1220px) {
    .MainTitle {
        text-align: left;
        transform: translateX(0);
    }
}