.MainWrapper {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.BottomRowData {
    color: var(--axelix-bold-grey);
}