.AccordionWrapper {
    margin-bottom: 40px;
}

.AccordionHeader {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 600;
}

.MainAccordionHeaderStyles {
    background-color: var(--axelix-primary-light-green);
    padding: 16px;
}

.KeyChunk {
    padding-right: 16px;
    flex-shrink: 0;
    word-break: break-all;
}

.ValueChunk {
    display: flex;
    justify-content: flex-end;
    word-break: break-all;
    padding-left: 16px;
}

.DeprecatedPropertyAccordionsHeader {
    background-color: var(--axelix-primary-light-red);
}

.ListAccordionStyles {
    padding: 0;
}
