.EnterKeyFormTitle {
    color: var(--axelix-bold-grey);
}

.FormActionsWrapper {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
}

.FormFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.EnterKeyDescription {
    color: var(--axelix-bold-grey);
}

.EnterKeyFormWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.AlertTitle {
    font-weight: 600;
    margin-bottom: 8px;
}

.AlertWrapper {
    border: 1px solid var(--axelix-primary-red);
    background-color: var(--axelix-primary-light-red);
    padding: 8px;
    border-radius: var(--axelix-border-radius-large);
    color: var(--axelix-primary-red);
}
