.ContentWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.Meta {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 10px;
}

.MetaStatus {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.MetaStatusOSS {
    color: var(--axelix-bold-grey);
}

.ActionsWrapper {
    display: flex;
    column-gap: 8px;
}
