.RolesTable th:nth-child(1),
.RolesTable td:nth-child(1) {
    width: 20%;
}

.RolesTable th:nth-child(2),
.RolesTable td:nth-child(2) {
    width: 45%;
}

.RolesTable th:nth-child(3),
.RolesTable td:nth-child(3) {
    width: 35%;
}
