.AccordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.BeanNameWrapper {
  max-width: max-content;
}

.ClassName {
  color: var(--axelix-bold-grey);
  margin-top: 8px;
}

.AccordionHeaderContent {
  min-width: 0;
}