.AccordionsWrapper {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 40px;
}

.AccordionWrapperStyles {
    border-bottom: none;
}

.AccordionsWrapper:last-child {
    margin-bottom: 0;
}

.LabelWrapper {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
    word-break: break-all;
}

.Message {
    word-break: break-all;
    border: 1px dashed var(--axelix-medium-grey);
    padding: 12px 16px;
    background-color: var(--axelix-extra-light-grey);
    border-radius: var(--axelix-border-radius-large);
    margin-inline: 24px;
}
