.Layout {
    display: grid;
    grid-template-columns: 300px minmax(0, 1fr);
    column-gap: 20px;
    align-items: start;
}

@media (width <= 900px) {
    .Layout {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}
