.DescriptionWrapper {
    padding: 0 16px;
    font-weight: 500;
    height: var(--height-description, auto);
}

.Description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}