.NoSelectedBeanMainWrapper {
    margin-bottom: 30px;
}

.SelectedBeanMainWrapper {
    margin-bottom: 15px;
}

.SelectedBeanTagWrapper {
    margin-top: 12px;
}

.Tag {
    background-color: var(--axelix-primary-green);
    color: var(--axelix-primary-white);

    &:hover {
        background-color: var(--axelix-primary-dark-green);
    }
}

.CloseIcon {
    margin-left: 8px;
    cursor: pointer;
}