.MainTitle {
    width: min(600px, 100%);
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 40px;
}

.InnerWrapper {
    display: flex;
    column-gap: 20px;
}

.ColumnWrapper {
    display: flex;
    flex-direction: column;
    width: 100%
}
