.SuspendButton {
    background-color: var(--axelix-primary-white);
    color: #1a1a1a;
    border: none;

    &:hover {
        background-color: #f0f0f0 !important;
        color: #1a1a1a !important;
    }
}

.FooterExtra {
    color: var(--axelix-bold-grey);
}

.SuspendOkButton:hover {
    background-color: var(--axelix-primary-light-black) !important;
    border-color: var(--axelix-primary-light-black) !important;
}


.ModalContentWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}