.MainWrapper {
    overflow-x: auto;
}

.Timeline {
    position: relative;
    height: 30px;
    border-radius: var(--axelix-border-radius-small);
    background-color: var(--axelix-light-grey);
    border: 1px solid var(--axelix-medium-grey);
    margin-bottom: 8px;
}

.Axis {
    display: flex;
    justify-content: space-between;
    color: var(--axelix-bold-grey);
    font-family: monospace;
}