.MainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 20px;
    border: 1px solid var(--axelix-light-grey);
    border-radius: var(--axelix-border-radius-large);
    height: 100%;
}

.Check {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--axelix-primary-light-green);
}

.Check::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 24px;
    width: 28px;
    height: 15px;
    border-left: 5px solid var(--axelix-primary-green);
    border-bottom: 5px solid var(--axelix-primary-green);
    transform: rotate(-45deg);
}

.Title {
    font-weight: 700;
}

.Description {
    max-width: 450px;
    color: var(--axelix-bold-grey);
}
