.ContentWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ChartWrapper {
    position: relative;
    height: 180px;
    width: 180px;
    flex-shrink: 0;
}

.LegendWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}