.MainWrapper {
  border-bottom: 1px solid var(--axelix-medium-grey);
}

.ContentWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease;
}

.ContentWrapperOpened {
  grid-template-rows: 1fr;
}

.ContentInner {
  overflow: hidden;
}

.HeaderWrapper {
  position: relative;
  cursor: pointer;
  padding: 12px 16px;
  background-color: var(--axelix-extra-light-grey);
}

.HeaderWrapper:not(.HideArrow) {
  padding-left: 45px;
}

.HeaderWrapper::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  height: 16px;
  width: 16px;
  background-image: url("../../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.3s ease;
}

.Open > .HeaderWrapper::before {
  transform: translateY(-50%) rotate(180deg);
}

.HideArrow::before {
  display: none;
}

.Content {
  padding: 16px;
}