.mcpToolsTable table {
  table-layout: fixed;
}

.mcpToolsTable table th,
.mcpToolsTable table td {
  min-width: 82px;
  word-break: break-word;
}

.mcpToolsTable table th:nth-child(1),
.mcpToolsTable table td:nth-child(1) {
  font-size: 13px;
  width: 150px;
}

.mcpToolsTable table th:nth-child(2),
.mcpToolsTable table td:nth-child(2) {
  font-size: 13px;
  width: 130px;
}

.mcpToolsTable table th:nth-child(3),
.mcpToolsTable table td:nth-child(3) {
  font-size: 13px;
  width: 165px;
  white-space: nowrap;
}

.mcpToolsTable table th:nth-child(4),
.mcpToolsTable table td:nth-child(4) {
  font-size: 13px;
  width: 130px;
  white-space: nowrap;
}

.mcpToolsTable table th:nth-child(5),
.mcpToolsTable table td:nth-child(5) {
  font-size: 14px;
  width: 280px;
}

.tagTrue {
  color: #00ab55;
  font-weight: 600;
}

.tagFalse {
  color: #faad14;
  font-weight: 600;
}
