.MainWrapper {
    border-radius: 16px;
    padding: 24px;
    background-color: var(--axelix-primary-white);
    border: 1px solid var(--axelix-medium-grey);
    box-shadow: var(--axelix-box-shadow-bold);
}

.CardHeaderWrapper {
    margin-bottom: 12px;
}

.Subtitle {
    color: var(--axelix-bold-grey);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 500;
}

.Title {
    margin-top: 5px;
    font-weight: 600;
}